In [27]:
import sys
from pathlib import Path

# Add the parent directory of the notebook to the Python path
sys.path.append(str(Path().resolve().parent))

In [28]:
from funcs.data_read import (
    read_txn_data, 
    read_ob_data,
)

from funcs.preprocess import (
    preprocess_ob_data, 
    preprocess_trx_data,
)


from funcs.utils import (
    filter_extremes,
)

# OB Data

In [29]:

df=read_ob_data(test=True,test_size=2)

Processing 2 file(s): ['C:\\Users\\peter\\codes\\ml\\eth\\Komplex\\data\\bitstamp_ob_04_07_2018.zip', 'C:\\Users\\peter\\codes\\ml\\eth\\Komplex\\data\\bitstamp_ob_04_08_2018.zip']
Processing bitstamp_ob_04_07_2018.zip...
Processing bitstamp_ob_04_08_2018.zip...
Finished loading. Total rows: 49,188,752

In [30]:
ob=preprocess_ob_data(df,freq="10min")

Timestamp ID created successfully.
Resampled OB data to 10min frequency. Selected 2459378 rows.
Missing values handled successfully.
OB Data Preprocessed Successfully.

# TRX Data

In [31]:
df2=read_txn_data(test=True,test_size=2)

In [32]:
trx=preprocess_trx_data(df2,"10min")

TRX data resampled to 10min frequency - 38017 transactions grouped into time windows
Timestamp ID created successfully.
Missing values handled successfully.
TRX Data Preprocessed Successfully.

In [33]:
trx["timestamp_id"].unique().shape

(300,)

In [34]:
trx[trx["timestamp_id"]==1527800400]

,datetime,price,cost,id,amount,side,original_datetime,timestamp_id
0,2018-05-31 21:00:00+00:00,7538.34,75.383400,67405327,0.010000,sell,2018-05-31 21:00:13+00:00,1527800400
1,2018-05-31 21:00:00+00:00,7533.92,35.761333,67405331,0.004747,sell,2018-05-31 21:00:18+00:00,1527800400
2,2018-05-31 21:00:00+00:00,7535.44,2995.337400,67405330,0.397500,sell,2018-05-31 21:00:18+00:00,1527800400
3,2018-05-31 21:00:00+00:00,7536.00,7.536000,67405329,0.001000,sell,2018-05-31 21:00:18+00:00,1527800400
4,2018-05-31 21:00:00+00:00,7537.49,753.749000,67405328,0.100000,sell,2018-05-31 21:00:18+00:00,1527800400
...,...,...,...,...,...,...,...,...
81,2018-05-31 21:00:00+00:00,7550.95,1480.209406,67405483,0.196030,buy,2018-05-31 21:08:21+00:00,1527800400
82,2018-05-31 21:00:00+00:00,7550.95,1997.399947,67405498,0.264523,buy,2018-05-31 21:08:46+00:00,1527800400
83,2018-05-31 21:00:00+00:00,7542.56,3143.962569,67405506,0.416830,sell,2018-05-31 21:09:11+00:00,1527800400
84,2018-05-31 21:00:00+00:00,7551.00,370.179469,67405508,0.049024,buy,2018-05-31 21:09:16+00:00,1527800400
85,2018-05-31 21:00:00+00:00,7551.68,73.764810,67405522,0.009768,buy,2018-05-31 21:09:57+00:00,1527800400